.mainshares {

    @include flexcolumn;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.shares {

    @include wauto;
    @include flexrow;
    column-gap: 3rem;
    row-gap: 3rem;
    justify-content: space-around;
    align-items: flex-end;

    //je choisis d'imposer une largeur max pour ne pas avoir de rangées trop large
    //je pense qu'il vaut mieux scroller!
    max-width: 140rem;

    &__title {
        @include title;
        padding-bottom: 25px;
    }
}