// .formSection {
//     min-height: 724px;
// }

.formulaire {
    color: white;
    padding: 1rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-image: linear-gradient(#40cbc4, #fed7d7);
    background-position: 50% 6.72%;
    border-radius: 2rem;
}

.formLine {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width : 600px) {
        padding: 1rem 2rem;
        @include flexcolumn
    }
}

.formLineHint {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
    margin-top: -1.2rem;

    @media (max-width : 600px) {
        margin-top: 0.2rem;
        @include flexcolumn
    }
}

.formLineTop {
    margin-top: 0;
    padding-top: 0
}

.input {
    font-family: "Poppins", "Roboto", sans-serif;
    background-color: white;
    flex: 2;
    padding-left: 0.5 rem;
    display: inline-flex;
    border-style: none;
    padding: 0 0.5rem;
    border: none;
    margin: 0;
}

.passwordinput {
    font-family: "Poppins", "Roboto", sans-serif;
    flex: 2;
    display: inline-flex;
    border-style: none;
    border: none;
    margin: 0;
}

.inputhint {
    font-family: "Poppins", "Roboto", sans-serif;
    flex: 2;
    display: inline-flex;
    border-style: none;
    border: none;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(34, 30, 30);
    background-color: none;
    margin: 0
}

.label {
    flex: 1;
    text-align: right;
    padding-right: 1rem;
}

.formSection .formDiv {
    // min-width: 375px;
    // max-width: 640px;
    margin: 0 auto 5rem;
}

.add-div {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: center;
}

textarea {
    font-family: "Poppins", "Roboto", sans-serif;
}

.textarea {
    display: block;
    width: 100%;
    overflow: hidden;
    // resize: both;
    min-height: 40px;
    line-height: 20px;
    // border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

.smalltextarea {
    width: 100%;
}

.bigtextarea {
    display: flex;
    min-height: 40px;
    width: 100%;

}

.asterisque {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(34, 30, 30);
}

// .hint {
//     font-size: 1.2rem;
//     font-weight: 400;
//     color: rgb(34, 30, 30);
//     background-color: none;
//     margin :0
// }

.champs {
    padding-right: 2rem;
}

.please {
    height: 100px;
    padding: 25px;
    font-size: 1.25rem;

    h2 {
        text-align: center;
    }
}

input[type=file]::file-selector-button {
    font-family: "Poppins", "Roboto", sans-serif;
    width: 100%;
}

//   input[type=file]::file-selector-button:hover {
//     background: white;
//     border : white;

//   }