$color-primary: #9356dc;
$color-secondary: #40cbc4;
$color-tertiary: #fed7d7;

$color-one: #40cbc4;
$color-two: #fed7d7;

$color-mainbtn: linear-gradient(173deg, $color-secondary 20%, $color-primary 80%);

$color-localisation: #ebebeb;
$color-bg: #f6f6f6;

$color-footer: #000;
$color-inverse: #fff;

$color-bgColor: linear-gradient($color-one, $color-two); ;
